/* The dot/bullet/indicator container */
.dot_container {
    text-align: center;
    padding: 20px 40px;
    background: #313030;
      max-width: 50vw;
      border-radius: 10px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active {
    background-color: #bbb;
  }
  
  .next {
    float: right;
  }